{% extends "layout.html.twig" %}
    {% block content  %}
        <main>
            <div class="container">
                <div class="row mt-5">
                    <div class="col-12">
                        <h1>Liste des Articles</h1>
                    </div>
                </div>
                <div class="row mt-2 mb-5 pt-2 pb-1">
                    <div class="col-12 col-md-4">
                        <div class="left-search-bar">
                            <form method="GET" id="formCategories">
                                {% for category in listCategories %}
                                    <div class="mb-2">
                                        <label for="category">{{category.getName_category()}}</label>
                                        <input class="input-radio" type="radio" name="category" id="category" value="{{category.getId_category()}}">
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="row" id="content">
                            {% if cards is not empty %}
                                {% for card in cards %}
                                    {{ card.generateCard(2) | raw }}
                                {% endfor %}
                            {% else %}
                                <h5>Il n'existe pas d'articles dans cette catégorie {{ categoryActif.getName_Category }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-lg-6">
                        <span>Ajouter un article ?</span>
                    </div>
                    <div class="col-12 col-lg-6">
                        <a href="/article/add" class="btn btn-primary">Ajouter</a>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}
    {% block script %}
        <script src="/public/js/search.js"></script>
    {% endblock %}