


* {
    box-sizing: border-box;
}

html, body, main{
    min-height: 100vh;
    margin: 0 0;
    padding: 0 0;
}

/*------------------------------STYLE DU HEADER-----------------------------------*/

.logo-min{
    display: block;
}
.logo-large{
    display: none;
}

@media screen and (min-width:768px){
    .logo-min{
        display: none;
    }
    .logo-large{
        display: block;
    }

}
    
.background-header{
    display: flex;
    flex-direction: column;
    background-image: url(/public/img/background-header.jpg);
    background-position: center;
    background-size: cover;
}

@media screen and (min-width:576px){
    .background-header{
        background-position: center;
        background-size: cover;
    } 
}

@media screen and (min-width:768px){
    .background-header{
        background-position: center;
        background-size: cover;
    } 
}

@media screen and (min-width:992px){
    .background-header{
        background-position: center;
        background-size: cover;
    } 
}

@media screen and (min-width:1200px){
    .background-header{
        display: flex;
        flex-direction: column;
        background-image: url(/public/img/background-header.jpg);
        background-position: center;
        background-size: cover;
    }
}

.bottom-header{
    background-color: #212529;
}
.navbar-light{
    background-color: cadetblue;
}
.bg-light{
    color: antiquewhite;
}


/*----------------------------- STYLE DU MAIN---------------------------------------*/

/*background color section */
.sec-background-1{
    background-color: #f7f1f9;
}
.sec-background-2{
    background-color: #fdfeff;
}

/* surcharge de card */
.card{
    width: 100%;
    min-height: 33vh;
    
}

.card-header ul{
    list-style: none;
}

/*surcharge de picture */
.picture{
    width: 100%;
    height: 75px;
}

@media screen and (min-width:576px){
    .picture{
        width: 100%;
        height: 100px;
    }
}

@media screen and (min-width:768px){
    .picture{
        width: 100%;
        height: 125px;
    }
}

@media screen and (min-width:992px){
    .picture{
        width: 100%;
        height: 175px;
    }
}

@media screen and (min-width:1200px){
    .picture{
        width: 100%;
        height: 225px;
    }
}

.picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard-table{
    font-size: smaller;
    font-weight: 200;
}

.subtitle{
    font-weight: bold;
    font-size: medium;
    color: #212529;
}

/** STYLE CARD */

.card-main{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.card-main .picture{
    display: flex;
    width: 33.33%;
    height: 100%;
    margin:0 0;
    padding: 0 0;
}

.card-main .picture img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.card-main .card-body{
    display: flex;
    flex-direction: column;
    width: 66.66%;
}

.card-main .card-body{
    justify-content: center;
    align-items: center;
}

.card-main .card-body h5{
    font-size: medium;
}

@media screen and (min-width: 786px){
    .card-main .card-body h5{
        font-size: larger;
    }
}

.card-link{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

h5.card-title:hover{
    text-decoration: underline;
}

h5.card-title{
    color:#5a5a5a;
    font-weight: bold;
    font-size: small;
}

@media screen and (min-width:576px){
    h5.card-title{
        font-size:medium;
    }
}