    {% extends "layout.html.twig" %}
    {% block content  %}
        <div class="row py-5 my-5">
            <div class="col-12">
                <h1>404 NOT FOUND</h1>
            </div>
        </div>
        <div class="row my-5 py-5">
            <div class="col-12">
                <a href="?controller=article&action=index" title="retour page accueil"><h2>Retour à l'accueil</h2></a>
            </div>
        </div>
    {% endblock %}