{% extends "layout.html.twig" %}
    {% block content  %}
        <main>
            <div class="container">
                <div class="row mt-5">
                    <div class="col-12">
                        <h1>Dernier Articles ajoutés</h1>
                    </div>
                </div>
                <div class="row mt-2 mb-5 pt-2 pb-1">
                    {% for card in cards %}
                        {{ card.generateCard() | raw}}
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-lg-6">
                        <span>Ajouter un article ?</h1>
                    </div>
                    <div class="col-12 col-lg-6">
                        <a href="?controller=articleController&action=add" class="btn btn-primary">Ajouter</a>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <h1>Catégories</h1>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}